.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    .header-ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        color: #904D8E;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }

    }
}